body{
    background-color: #f4f4f4
}

.register-container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.register-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-group > * {
    width: 100%;
    box-sizing: border-box; /* Asegura que padding y border se incluyan en el ancho total */
}


.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    background-color: #ff6363;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #ff4c4c;
}

.register-container p {
    margin-top: 20px;
}

.register-container p a {
    color: #ff6363;
    text-decoration: none;
}

.register-container p a:hover {
    text-decoration: underline;
}